h1 {
    color:rgb(214, 71, 95)
}
/** {border:solid}*/
.header{
    background-color: rgb(152, 207, 255);
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
    color: #FC0000;
}

body{
    background-color: #808080
}